
:root {
    --primary: #2b3a42;
    --secondary: #f4b41a;
    --background: #f4f4f4;
    --text: #222;
    --light: #ffffff;
}


body {
    font-family: Roboto, Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin-bottom: 0.5rem;
}

/* HEADER*/
header {
    background: var(--primary);
    color: white;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logo img {
    width: 45px;
}

 /* nav  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#menuBtn {
    display: none;
    background: none;
    border: none;
    font-size: 1.6rem;
    color: white;
}

#navList {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

#navList a {
    color: white;
    font-weight: 500;
}

#navList a.active {
    border-bottom: 2px solid var(--secondary);
}

/*  MAIN CONTENT */
main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

.view-buttons {
    text-align: center;
    margin: 1rem 0;
}

.view-buttons button {
    background: var(--secondary);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    cursor: pointer;
    font-weight: bold;
}


#members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

#members.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.member-card {
    background: var(--light);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.member-card img {
    border-radius: 4px;
}

.member-card h3 {
    margin-top: 0.5rem;
}

.member-card a {
    color: var(--primary);
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #ddd;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 0.9rem;
}


.footer-grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


.footer-col h3 {
    margin-bottom: 0.5rem;
    color: var(--primary);
}

.footer-col p {
    margin: 0.3rem 0;
}


footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-top: 0.5rem;
}

footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 6px;
    background: #f4f4f4;
    filter: grayscale(20%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

footer .social img:hover {
    filter: none;
    transform: scale(1.15);
}

/* RESPONSIVE (MOBILE) */
@media (max-width: 700px) {
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}