

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Members grid */
#members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

#members.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#members.list .member-card {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    gap: 1rem;
}

#members.list img {
    max-width: 100px;
}